.stock-add {
    height: 100%;

    display: grid;
    grid-template-columns: [background-s] 3fr [background-e content-s] 7fr [content-e];

    &__background {
        grid-column: background-s/background-e;
        background: $b-secondary-color;
    }

    &__content {
        grid-column: content-s/content-e;
        padding: 2.6rem;

        display: grid;
        grid-template-rows: 2fr 8fr;
    }
}

.stock-add-form {
    display: grid;
    grid-template-rows: repeat(6, 4rem);
    grid-template-columns: repeat(6, 11rem);

    grid-row-gap: 3rem;
    grid-column-gap: 1.8rem;

    &__warehouse {
        grid-row: 1/2;
        grid-column: 1/-1;
    }

    &__stock {
        grid-row: 1/2;
        grid-column: 5/-1;
    }

    &__products {
        grid-row: 2/6;
        grid-column: 1/-1;
    }

    &__submit {
        grid-row: 6/7;
        grid-column: 6/7;
        justify-self: end;
    }
}