.client {
    grid-column: s/e;

    display: grid;
    grid-template-rows: [s client-heading-s] 7rem [client-heading-e client-description-s] 20rem [client-description-e order-heading-s] 7rem [order-heading-e order-search-s] 7rem [order-search-e order-table-s] 1fr [order-table-e e];
    // grid-template-columns: [s] .9fr [m] .1fr [e];

    padding: 5rem 20rem;

    &__heading {
        grid-row: client-heading-s/client-heading-e;
    }
    
    &__description {
        grid-row: client-description-s/client-description-e;
    }

    &__order-heading {
        grid-row: order-heading-s/order-heading-e;
    }
    
    &__order-searchbar {
        grid-row: order-search-s/order-search-e;
        
    }
    
    &__order-table {
        grid-row: order-table-s/order-table-e;
    }
}