.login {
    grid-column: s/e;
    grid-row: m/e;
    background-color: $b-background-color;
    
    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: [s] 1fr [m] 1fr [e];

    &__background {
        height: 100%;
        grid-row: 1/-1;
        grid-column: s/m;
        background: #000;
        
        &__image {
            width: 100%;
            height: 93.581vh;
            object-fit: cover;
            opacity: .5;
        }
    }
    
    &__content {
        grid-row: s/e;
        grid-column: m/e;

        display: grid;
        grid-template-rows: [header-s] .5fr [header-e err-s] .1fr [err-e form-s] 1fr [form-e];
        grid-template-columns: [s] 1fr [e];
        grid-row-gap: 3rem;

        margin: 0 22rem;

        &__heading {
            grid-row: header-s/header-e;
            grid-column: s/e;
            align-self: end;
        }

        &__form-err {
            grid-row: err-s/err-e;
            grid-column: s/e;
        }
        
        &__form {
            grid-row: form-s/form-e;
            grid-column: s/e;
            align-self: start;

            width: 100%;
            display: grid;
            grid-row-gap: 2.5rem;
        }
    }
}