// Background Colors
$b-primary-color: #4a707a;
$b-secondary-color: #7697a0;
$b-sub-color: #94b0b7;
$b-hightlight-color: #c2c8c5;
$b-background-color: #ddddda;
$b-background-light-color: #FFFFFE;


// Text color
