// Mixins
@mixin SlideshowGradient {
    background: -moz-linear-gradient(top,  rgba(221,221,218,0) 0%, rgba(221,221,218,.85) 80%, rgba(221,221,218,.85) 100%);
    background: -webkit-linear-gradient(top,  rgba(221,221,218,0) 0%, rgba(221,221,218,.85) 80%, rgba(221,221,218,.85) 100%);
    background: linear-gradient(to bottom,  rgba(221,221,218,0) 0%, rgba(221,221,218,.85) 80%, rgba(221,221,218,.85) 100%);
}

@mixin Unselectable {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

// Background Colors
$b-primary-color: #4a707a;
$b-secondary-color: #7697a0;
$b-sub-color: #94b0b7;
$b-hightlight-color: #c2c8c5;
$b-background-color: #ddddda;
$b-background-light-color: #FFFFFE;


// Text color
$t-primary-color: #000;
$t-secondary-color: #111;
