.home {
    grid-column: s/e;

    width: 100%;

    position: relative;
    display: grid;

    &__background {
        width: 100%;
        background: #000;
        position: absolute;
        z-index: -10;

        &__image {
            width: 100%;
            opacity: .45;
        }
    }

    &__content {
        width: 100%;
        
        display: grid;
        grid-template-columns: 22.5rem 22.5rem;
        grid-gap: 13rem;

        justify-content: center;
        align-content: center;
    }

    &__side {
        position: absolute;
        z-index: 10;
        top: 90%;
        left: 85%;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.2rem;
        
        justify-items: center;

        &__button {
            cursor: pointer;
            font-size: 1.6rem;
            color: $b-primary-color;

            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-gap: 1rem;
            justify-items: center;

            &__icon {
                font-size: 3.2rem;
            }

            &:hover {
                color: $b-secondary-color;
            }

            &:active {
                transform: scale(.95);
            }
        }
    }
}