@import '_variables';

html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}

.app {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: [s] 1fr [m] 1fr [e];
    grid-template-rows: [s] 6rem [m] 1fr [e];
}

// Components imports

@import 'home';

@import 'common/card';
@import 'common/header';
@import 'common/heading';
@import 'common/form-fields';
@import 'common/image';
@import 'common/modal';
@import 'common/searchbar';
@import 'common/slideshow';
@import 'common/table';

@import 'auth/login';

@import 'products/product-add';
@import 'products/product-detail';
@import 'products/products';

@import 'clients/clients';
@import 'clients/client';
@import 'clients/client-add';

@import 'orders/order-new';
@import 'orders/order-detail';
@import 'orders/order-search';
@import 'orders/order-message.scss';
@import 'orders/order-add.scss';

@import 'warehouses/warehouses';
@import 'warehouses/warehouse-add';
@import 'warehouses/warehouse-detail';
@import 'warehouses/stock-add';
@import 'warehouses/stock-edit';

@import 'users/users.scss';
@import 'users/user-add.scss';