@import '_variables';
@import '_mixins';

html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: [s] 1fr [m] 1fr [e];
    grid-template-rows: [s] 6rem [m] 1fr [e];
}

// Components imports

@import 'home';

@import 'common/card';
@import 'common/header';
@import 'common/heading';
@import 'common/form-fields';
@import 'common/image';
@import 'common/modal';
@import 'common/searchbar';
@import 'common/slideshow';
@import 'common/table';

@import 'auth/login';

@import 'products/products';
@import 'products/product-detail';
