.users {
    grid-column: s/e;

    display: grid;
    grid-template-rows: [s heading-s] 7rem [heading-e search-s] 7rem [search-e m] 1fr [e];
    grid-template-columns: [s] 10fr [m] 1fr [e];

    padding: 5rem 20rem;

    &__heading {
        grid-row: heading-s/heading-e;
        grid-column: s/e;
    }

    &__searchbar {
        grid-row: search-s/search-e;
        grid-column: s/m;
    }
    
    &__buttoms {
        grid-row: search-s/search-e;
        grid-column: m/e;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        align-items: center;
        justify-items: center;

        &__button {
            width: 3.6rem;
            height: 3.6rem;
        }
    }
    
    &__table {
        grid-row: m/e;
        grid-column: s/e;
    }

    @media only screen and (max-width: 76.8rem) {
        padding: 5rem;
        grid-template-columns: [s] 8fr [m] 2fr [e];
    }
}