.form-error {
    height: 4.4rem;
    background: rgba($f-error, .7);

    margin: 1rem 0;
    padding-left: 2rem;
    
    border-radius: .5rem;

    font-size: 1.2rem;

    display: grid;
    align-items: center;

    cursor: pointer;
    
    &.hidden {
        display: none;
    }
}