.image {
    position: relative;
    background: rgba(0, 0, 0, 1);

}

.dropzone {

    .dz-preview {
        background: rgba(0, 0, 0, 0) !important;
    }

    .dz-progress {
        display: none;
    }
}

.dropzone-thumbnail {
    a.dz-remove {
        display: none !important;
    }

    &__details {
        height: 90%;
        display: grid !important;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;

        &__filename {
            overflow: hidden;
        }

        &__remove {
            margin-top: 1.4rem;
            width: 3rem;
            height: 3rem;
            background: $b-hightlight-color-error;
            border-radius: 50%;

            cursor: pointer !important;

            &:hover {
                background: rgba($b-hightlight-color-error, .8);
            }

            &__icon {
                padding-top: .2rem;
                padding-right: .2rem;
                font-size: 2.8rem;

                color: white;

                cursor: pointer !important;
            }
        }
    }
}

// .overlay {
//     position: fixed;
//     z-index: $z-index-6;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;

//     background: rgba(0, 0, 0, 0.9);

//     display: flex;
//     align-items: center;
//     text-align: center;

//     visibility: hidden;
//     opacity: 0;
//     transition: opacity .3s;

//     img {
//         max-width: 90%;
//         max-height: 90%;
//         width: auto;
//         height: auto;
//         transform: scale(0.95);
//         transition: transform .3s;
//     }

//     &:target {
//         visibility: visible;
//         outline: none;
//         cursor: default;

//         img {
//             transform: scale(1);
//         }
//     }
// }