.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);

    position: fixed;

    top: 0;
    left: 0;

    z-index: -10;
    
    display: grid;
    grid-template-rows: 1fr [content-s] 1fr [content-e] 1fr;
    grid-template-columns: 2fr [content-s] 6fr [content-e] 2fr;
    
    &__content {
        grid-row: content-s/content-e;
        grid-column: content-s/content-e;
        background: $b-background-color;
        border-radius: .5rem;
    }

    opacity: 0;

    @media only screen and (max-width: 76.8rem) {
        grid-template-columns: 1fr [content-s] 8fr [content-e] 1fr;
    }
}

.modal.active {
    z-index: 10;
    opacity: 1;
}

.modal.xsmall {
    grid-template-rows: 1fr [content-s] .4fr [content-e] 1fr;
}

.modal.small {
    grid-template-rows: 1fr [content-s] .5fr [content-e] 1fr;
}

.modal.medium {
    grid-template-rows: 1fr [content-s] .8fr [content-e] 1fr;
}

.modal.large {
    grid-template-rows: 1fr [content-s] 1fr [content-e] 1fr;
}

.modal.xlarge {
    grid-template-rows: 1fr [content-s] 1.2fr [content-e] 1fr;
}