.pagination {
    grid-row: footer-s/footer-e;

    display: grid;
    grid-template-columns: [s] 1fr [m] 1fr [e];
    grid-template-rows: 1fr;
    
    &__pagination-info {
        align-self: center;
        font-size: 1.4rem;
    }

    &__pagination-buttons {
        grid-column: m/e;

        display: grid;
        grid-template-columns: 5rem 5rem;
        justify-content: end;
        align-items: center;

        &__button {
            justify-self: end;

            width: 3.6rem;
            height: 3.6rem;
        }

        &__button.prev {
            grid-column: 1/2;
        }

        &__button.next {
            grid-column: 2/3;
        }

        &__button.hidden {
            display: none;
        }
    }
}