.slideshow {
    @include Unselectable;
    
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: [s] .92fr [m] .08fr [e];
    grid-template-columns: [s back-s] .2fr [back-e bullet-s] .6fr [bullet-e foward-s] .2fr [foward-e e];

    &__image-container {
        grid-row: s/e;
        grid-column: s/e;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__back-control {
        @include SlideshowGradient;
        @include Unselectable;

        cursor: pointer;

        grid-row: m/e;
        grid-column: back-s/back-e;
        
        display: grid;
        align-items: center;
        justify-items: center;
        
        color: rgba(20, 20, 20, .7);

        &__icon {
            font-size: 1.8rem;
            color: inherit;
        }

        &:hover {
            color: rgba(20, 20, 20, 1);
        }
    }

    &__back-control.hidden {
        display: none;
    }
    
    &__bulletpoint {
        @include SlideshowGradient;
        @include Unselectable;

        grid-row: m/e;
        grid-column: bullet-s/bullet-e;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, 2.8rem);
        align-items: center;
        justify-content: center;

        padding-left: 1.1rem;

        &__bullet {
            cursor: pointer;
            width: .6rem;
            height: .6rem;
            border: .2rem solid rgba(20, 20, 20, .7);
            border-radius: 50%;

            &:hover {
                border: .2rem solid rgba(20, 20, 20, 1);
            }
        }

        &__bullet.active {
            background: rgba(20, 20, 20, .7);
            
            &:hover {
                background: rgba(20, 20, 20, 1);
            }
        }
    }
    
    &__bulletpoint.hidden {
        display: none;
    }

    &__foward-control {
        @include SlideshowGradient;
        @include Unselectable;
        
        cursor: pointer;

        grid-row: m/e;
        grid-column: foward-s/foward-e;
        
        display: grid;
        align-items: center;
        justify-items: center;

        color: rgba(20, 20, 20, .7);

        &__icon {
            font-size: 1.8rem;
            color: inherit;
        }

        &:hover {
            color: rgba(20, 20, 20, 1);
        }
    }

    &__foward-control.hidden {
        display: none;
    }
}

.slideshow.hidden {
    display: none;
}