.table {
    display: grid;
    grid-template-rows: [heading-s] 4rem [heading-e body-s] 1fr [body-e footer-s] 4rem [footer-e];

    
    &__heading {
        grid-row: heading-s/heading-e;
        border-bottom: .1rem solid #000;
        border-radius: .5rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        
        justify-items: center;
        align-items: end;
        
        &__item {
            height: 2.3rem;
            width: 90%;
            text-align: center;
            
            display: grid;
            align-items: center;
            
            font-size: 1.8rem;
            font-weight: 600;
        }
        
        &__item:not(:last-child) {
            border-right: .1rem solid $b-hightlight-color;
        }
    }
    
    &__body {
        grid-row: body-s/body-e;
        
        display: grid;
        grid-template-rows: repeat(auto-fill, 4.1rem);
        
        &__row {
            cursor: pointer;
            border-bottom: .1rem solid $b-hightlight-color;
            border-radius: .5rem;
            
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

            justify-items: center;
            align-items: end;

            &__item {
                height: 3.5rem;
                width: 90%;
                text-align: center;
                
                display: grid;
                align-items: center;

                font-size: 1.4rem;
            }
            
            &__item:not(:last-child) {
                border-right: .1rem solid $b-hightlight-color;
            }
        }

        &__row.active {
            background: rgba($b-hightlight-color, .5);
        }
    }

    &__footer {
        grid-row: footer-s/footer-e;

        display: grid;
        grid-template-columns: [s] 1fr [m] 1fr [e];
        grid-template-rows: 1fr;
        
        &__paginationInfo {
            font-size: 1.2rem;
        }

        &__paginationButtons {
            grid-column: m/e;

            display: grid;
            grid-template-columns: 5rem 5rem;
            justify-content: end;

            &__button {
                justify-self: end;
                width: 3.6rem;
                height: 3.6rem;
            }

            &__button.hidden {
                display: none;
            }
        }
    }
}